.App {
  text-align: center;
}

.align-teams-container {
  padding: 10px;
  max-width: fit-content;
  border: 1px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}